/* @import url(index.css); */
@import url(index-global.css);

@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
body{
  overflow-x: hidden;
}
.social-media-icon {
  position: absolute;
  top: 15px;
  left: 1451px;
  width: 262px;
  height: 46px;
  object-fit: cover;
}
.cookie-policy,
.privacy-policy,
.terms-of-service {
  position: absolute;
  top: 0;
  left: 322px;
  display: inline-block;
  width: 144px;
  height: 38px;
}
.privacy-policy,
.terms-of-service {
  left: 150px;
  width: 181px;
}
.privacy-policy {
  left: 0;
  width: 150px;
}
.links,
.tailor-shop-all {
  position: absolute;
  top: 0;
  left: 352px;
  width: 466px;
  height: 38px;
}
.tailor-shop-all {
  left: 0;
  display: inline-block;
  width: 417px;
}
.footer-links {
  position: absolute;
  top: 19px;
  left: 17px;
  width: 818px;
  height: 38px;
}
.footer-child {
  position: absolute;
  top: 0;
  left: calc(50% - 887.5px);
  max-height: 100%;
  width: 1779px;
  object-fit: cover;
}
.footer {
  position: absolute;
  top: 2846px;
  left: 126px;
  width: 1727px;
  height: 61px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-mplus-1p);
}


/* existing styles */
#cookie-policies,#terms-conditions,#privacy-policies {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

/* hover underline effect */
#cookie-policies::after,#terms-conditions::after,#privacy-policies::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #264653;
  transition: width 0.3s;
  transform: scaleX(0); 
  
}

#privacy-policies:hover::after {
  width: 100%;
  transform: scaleX(1); /* Show the underline on hover */
}

#terms-conditions:hover::after {
  width: 100%;
  transform: scaleX(1); /* Show the underline on hover */
}

#cookie-policies:hover::after {
  width: 100%;
  transform: scaleX(1); /* Show the underline on hover */
}

.logo-icon,
.subscribe-child {
  position: absolute;
  object-fit: cover;
}
.logo-icon {
  top: 29px;
  left: 0;
  width: 327px;
  height: 116px;
  mix-blend-mode: multiply;
}
.subscribe-child {
  top: 0;
  left: calc(50% - 953.5px);
  max-height: 100%;
  width: 1752px;
}


.hover-functioning1 {
  cursor: pointer;
  border: 0;
  margin-top: 40px;
  background-color: transparent;
  /* position: absolute; */
  top: 0;
  /* left: 752px; */
  width: 88px;
  height: 51px;
}
.hover-functioning2 {
  cursor: pointer;
  border: 0;
  /* margin-top: 40px; */
  background-color: transparent;
  position: absolute;
  top: 0; 
  left: 746px;
  width: 88px;
  height: 50px;
}

.hover-functioning3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -90px;
  left: 752px;
  width: 188px;
  height: 50px;
}


.hover-functioning4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 752px;
  width: 188px;
  height: 81px;
}

.fashion-corner-1-1 {
  position: absolute;
  top: 25px;
  left: 0;
  /* width: 130px; */
  height: 80px;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 74px;
  width: 1818px;
  height: 236px;
}

.index-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 3926px;
  overflow: hidden;
}

.twitter-icon,
.facebook-icon,
.insta-icon {
  position: absolute;
  top: 0;
  left: 213px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.facebook-icon,
.insta-icon {
  left: 142px;
}
.facebook-icon {
  left: 71px;
}
.email-icon,
.social-media {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
}
.email-icon {
  border-radius: 50%;
  width: 49px;
  object-fit: cover;
}
.social-media {
  width: 262px;
}
.social-media-parent {
  width: 100%;
  position: relative;
  height: 46px;
}
.social-media-parent:hover {
  cursor: pointer;
}

/* nav bar */

.profile_logo{
  height: 50px;
  margin-left: 900px;
  margin-top: 45px;
}
.cart_logo{
  height: 50px;
  margin-left: 800px;
  margin-top: 45px;
}


/* menu button */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 45px;
  left: 1000px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 34px;
  width: 42px;
  position:absolute;
  top: 45px;
  left: 1000px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

/* hamburger line 1 */
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

/* hamburger line 2 */
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

/* hamburger line 3 */
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  /* box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5); */
  height: 2000px;
  width: 100%;
  transform: translate(300%);
  display: flex;
  flex-direction: column;
  margin-right: -40px;
  padding-right: 300px;
  padding-left: 120px;
  margin-left: 700px;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  z-index: 1099; /* Ensure a high z-index to keep menu on top */
  position:relative;
  background-color: white;
}


.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 4.8rem;
  font-weight: 500px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
#back-arrow{
transform:rotate(180deg);
margin-right:1000px

}


/*social media buttons  */

.menu-social-button1{
  position: absolute;
  bottom: 3345px;
  left: 100px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button2{
  position: absolute;
  bottom: 3345px;
  left: 200px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button3{
  position: absolute;
  bottom: 3345px;
  left: 300px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}

/* about us */
@import url(index.css);
@import url(index-global.css);

.linkedin-icon,
.twitter-icons {
  position: absolute;
  top: 380px;
  left: 188px;
  width: 35px;
  height: 31px;
  overflow: hidden;
  object-fit: cover;
}
.twitter-icons {
  left: 123px;
}
.developer-designer,
.harshit-joshi {
  position: absolute;
  top: 346px;
  left: 52px;
  display: inline-block;
  width: 221px;
  height: 30px;
}
.harshit-joshi {
  top: 296px;
  left: 97px;
  font-weight: 300;
  font-family: var(--font-livvic);
  width: 140px;
}
.developer-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 314px;
  height: 291px;
  object-fit: cover;
}
.developerdesigner {
  position: absolute;
  top: 0;
  left: 1056px;
  width: 314px;
  height: 385px;
}

.co-founder1,
.farah-hawa {
  position: absolute;
  top: 350px;
  left: 106px;
  display: inline-block;
  width: 131px;
  height: 30px;
}
.farah-hawa {
  top: 296px;
  left: 112px;
  font-weight: 300;
  font-family: var(--font-livvic);
  width: 141px;
}
.co-founder {
  position: absolute;
  top: 0;
  left: 528px;
  width: 314px;
  height: 387px;
}


.ansh-bhawnani,
.founder1 {
  position: absolute;
  top: 350px;
  left: 118px;
  display: inline-block;
  width: 87px;
  height: 30px;
}
.ansh-bhawnani {
  top: 296px;
  left: 92px;
  font-weight: 300;
  font-family: var(--font-livvic);
  width: 171px;
}
.founder,
.team-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 387px;
}
.team-info {
  top:300px;
  width: 1370px;
}
.team-praise {
  top: 94px;
  left: 492px;
  font-size: var(--body-size);
  display: inline-block;
  width: 436px;
  height: 82px;
}
.team,
.team-praise,
.the-team {
  position: absolute;
}
.the-team {
  margin: 0;
  top: 0;
  left: 542px;
  font-size: var(--font-size-45xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 335px;
  height: 94px;
}
.team {
  top: 1760px;
  left: 158px;
  width: 1370px;
  height: 617px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-mplus-1p-bold);
}
.about-us-child {
  position: absolute;
  top: 1713px;
  left: 2px;
  max-height: 100%;
  width: 1670px;
  object-fit: cover;

}
.end-line{
  position: absolute;
  top: 3013px;
  left: 150px;
  max-height: 100%;
  width: 1670px;
  object-fit: cover;

}

.but-our-commitment {
  margin: 0;
}
.para-3{
  position: absolute;
  top: 1507px;
  left: 13px;
  font-size:x-large;
  display: inline-block;
  width: 1654px;
  height: 172px;
}
.para-3 {
  top: 1179px;
  width: 1664px;
  height: 221px;
}
.image-icon {
  position: absolute;
  top: 30px;
  left: 880px;
  border-radius: var(--br-11xl);
  width: auto;
  height: 705px;
  object-fit: cover;
}
.para-2a{
  position: absolute;
  top: 403px;
  left: 0;
  font-size:x-large;
  display: inline-block;
  width: 781px;
  height: 391px;
}
.para-2a {
  top: -8px;
  width: 796px;
  height: 386px;
}
.para-1,
.para-2 {
  position: absolute;
  top: 333px;
  left: 13px;
  width: 1670px;
  height: 805px;
}
.para-1 {
  margin: 0;
  top: 151px;
  left: 15px;
  font-size:x-large;
  font-weight: 700;
  display: inline-block;
  width: 1655px;
  height: 384px;
}
.about-us7 {
  margin: 0;
  font-size: var(--font-size-45xl);
}
.heading4 {
  margin: 0;
  position: absolute;
  /* top: 5px; */
  left: 13px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 1000px;
  height: 86px;
  font-size: var(--body-size);
}

.about-us6 {
  position: absolute;
  top: 200px;
  left: 152px;
  width: 1708px;
  height: 2608px;
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--color-black);
  font-family: var(--font-mplus-1p-bold);
}

.about-us-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 1000px;
  overflow: hidden;
}

/* user profile */
.dropdown {
  position: relative;
  display: block;
  padding-left: 1650px;
  padding-top: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 190px;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.dropdown-content{
  text-align: center;
  display: none;
  padding: 15px;
  text-decoration: none;
  font-size: large;
  font-family: "Mplus 1p Bold";
  font-weight: 800;
  color: #333;
}
 .profile-links {
  text-align: center;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: large;
  font-family: "Mplus 1p Bold";
  font-weight: 800;
  color: #333;
}
.dropdown-content .profile-links:hover {
  background-color: #f9f9f9;
  font-size: 20px;
  cursor: pointer;
}
#welcomeMessage{
  font-size: larger;
  text-align: center;
  
}
/* customize alert */
.alert {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  position: fixed;
  top: 50px;
  left: 80%;
  transform: translateX(-50%);
  padding: 15px;
  background-color:#ffe7c3; /* Red background color */
  color: rgb(0, 0, 0);
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.5s ease-out; /* Add fade out transition */
}

.hide {
  /* opacity: 0; Set opacity to 0 to hide the alert */
  display: none;
}
