@keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  .social-media-icon {
    position: absolute;
    top: 15px;
    left: 1451px;
    width: 262px;
    height: 46px;
    object-fit: cover;
  }
  .cookie-policy,
  .privacy-policy,
  .terms-of-service {
    position: absolute;
    top: 0;
    left: 322px;
    display: inline-block;
    width: 144px;
    height: 38px;
  }
  .privacy-policy,
  .terms-of-service {
    left: 150px;
    width: 181px;
  }
  .privacy-policy {
    left: 0;
    width: 150px;
  }
  .links,
  .tailor-shop-all {
    position: absolute;
    top: 0;
    left: 352px;
    width: 466px;
    height: 38px;
  }
  .tailor-shop-all {
    left: 0;
    display: inline-block;
    width: 417px;
  }
  .footer-links {
    position: absolute;
    top: 19px;
    left: 17px;
    width: 818px;
    height: 38px;
  }
  .footer-child {
    position: absolute;
    top: 0;
    left: calc(50% - 887.5px);
    max-height: 100%;
    width: 1779px;
    object-fit: cover;
  }
  .footer {
    position: absolute;
    top: 3846px;
    left: 126px;
    width: 1727px;
    height: 61px;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-mplus-1p);
  }

  
  /* existing styles */
#cookie-policies,#terms-conditions,#privacy-policies {
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  
  /* hover underline effect */
  #cookie-policies::after,#terms-conditions::after,#privacy-policies::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #264653;
    transition: width 0.3s;
    transform: scaleX(0); 
    
  }
  
  #privacy-policies:hover::after {
    width: 100%;
    transform: scaleX(1); /* Show the underline on hover */
  }
  
  #terms-conditions:hover::after {
    width: 100%;
    transform: scaleX(1); /* Show the underline on hover */
  }
  
  #cookie-policies:hover::after {
    width: 100%;
    transform: scaleX(1); /* Show the underline on hover */
  }
  
  .logo-icon,
  .subscribe-child {
    position: absolute;
    object-fit: cover;
  }
  .logo-icon {
    top: 29px;
    left: 0;
    width: 327px;
    height: 116px;
    mix-blend-mode: multiply;
  }
  .subscribe-child {
    top: 0;
    left: calc(50% - 953.5px);
    max-height: 100%;
    width: 1752px;
  }


  .hover-functioning4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 752px;
    width: 188px;
    height: 81px;
  }
  .fashion-corner-1-1 {
    position: absolute;
    top: 25px;
    left: 0;
    /* width: 130px; */
    height: 80px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .nav-bar {
    position: absolute;
    top: 0;
    left: 74px;
    width: 1818px;
    height: 236px;
  }

  .index-page {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke);
    height: 3926px;
    overflow: hidden;
  }
  
  .twitter-icon,
  .facebook-icon,
  .insta-icon {
    position: absolute;
    top: 0;
    left: 213px;
    border-radius: 50%;
    width: 49px;
    height: 46px;
    object-fit: cover;
  }
  .facebook-icon,
  .insta-icon {
    left: 142px;
  }
  .facebook-icon {
    left: 71px;
  }
  .email-icon,
  .social-media {
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
  }
  .email-icon {
    border-radius: 50%;
    width: 49px;
    object-fit: cover;
  }
  .social-media {
    width: 262px;
  }
  .social-media-parent {
    width: 100%;
    position: relative;
    height: 46px;
  }
  .social-media-parent:hover {
    cursor: pointer;
  }

/* nav bar */
  .menu_logo{
    height: 50px;
    margin-left:1000px;
    margin-top: 45px;
  }
  .profile_logo{
    height: 50px;
    margin-left: 900px;
    margin-top: 45px;
  }
  .cart_logo{
    height: 50px;
    margin-left: 800px;
    margin-top: 45px;
  }

/* items */
.heading4 {
  position:absolute;
  /* top: 50px; */
  left: 650px;
  display: inline-block;
  width: 1695px;
}
.p6 {
  margin: 0;
  font-size: var(--body-size);
}
.mens-clothes1 {
  margin: 0;
  white-space: pre-wrap;
}

.clothes-pic1 {
  position:absolute;
  top: 200px;
  left: 172px;
  width: 1728px;
  height: 2389px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-mplus-1p-bold);
}

.price-for-photo-6 {
  top: 798px;
  left: 0;
  height: 197px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.photo6-icon1,
.price-for-photo-6,
.product-6 {
  position:absolute;
  width: 524px;
}
.photo6-icon1 {
  top: 0;
  left: 0;
  height: 737px;
  object-fit: cover;
}
.product-6 {
  top: 1090px;
  left: 1164px;
  height: 995px;
}
.photo5-icon1,
.price-for-photo-5 {
  position:absolute;
  top: 808px;
  left: 0;
  width: 547px;
  height: 179px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.photo5-icon1 {
  top: 0;
  left: 8px;
  width: 524px;
  height: 737px;
}
.product-5 {
  position:absolute;
  top: 1090px;
  left: 575px;
  width: 547px;
  height: 987px;
}
.price-for-photo-4,
.product-4 {
  position:absolute;
  left: 0;
  width: 524px;
}
.price-for-photo-4 {
  top: 800px;
  height: 191px;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.product-4 {
  top: 1090px;
  height: 991px;
}
.photo3-icon1,
.price-for-photo-3 {
  position:absolute;
  top: 800px;
  left: 0;
  width: 557px;
  height: 191px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.photo3-icon1 {
  top: 0;
  left: 17px;
  width: 524px;
  height: 737px;
}
.product-3 {
  position:absolute;
  top: 0;
  left: 1147px;
  width: 557px;
  height: 991px;
}
.photo2-icon1,
.price-for-photo-2 {
  position:absolute;
  top: 800px;
  left: 0;
  width: 541px;
  height: 183px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.photo2-icon1 {
  top: 0;
  left: 9px;
  width: 524px;
  height: 737px;
}
.product-2 {
  position:absolute;
  top: 0;
  left: 574px;
  width: 541px;
  height: 983px;
}
.price-for-photo1 {
  position:absolute;
  top: 800px;
  left: 7px;
  width: 519px;
  height: 191px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.price-for-photo1:hover,.price-for-photo-2:hover,.price-for-photo-3:hover,.price-for-photo-4:hover,.price-for-photo-5:hover,.price-for-photo-6:hover{
  cursor: pointer;
}
.product-1,
.products {
  position:absolute;
  top: 0;
  left: 0;
  width: 526px;
  height: 991px;
}
.products {
  top: 200px;
  left: 24px;
  width: 1704px;
  height: 2129px;
}

/* checkpoint */
.product-7{
  position:absolute;
  top: 2180px;
  left: 0;
  width: 526px;
  height: 991px;
}
.price-for-photo7 {
  position:absolute;
  top: 800px;
  left: 7px;
  width: 519px;
  height: 191px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.photo7-icon1 {
  top: 0;
  left: 0;
  height: 737px;
  width: 524px;
  object-fit: cover;
  position: absolute;
}

.product-8{
  position:absolute;
  top: 2180px;
  left: 575px;
  width: 526px;
  height: 991px;
}
.photo8-icon1,.price-for-photo-8 {
  position:absolute;
  top: 808px;
  left: 0;
  width: 547px;
  height: 179px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.photo8-icon1 {
  top: 0;
  left: 9px;
  width: 524px;
  height: 737px;
}

.product-9{
  position:absolute;
  top: 2180px;
  left: 1147px;
  width: 526px;
  height: 991px;
}
.photo9-icon1,.price-for-photo-9 {
  position:absolute;
  top: 800px;
  left: 7px;
  width: 519px;
  height: 191px;
  object-fit: cover;
  mix-blend-mode: multiply;

  position:absolute;
  top: 800px;
  left: 0;
  width: 557px;
  height: 191px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.photo9-icon1 {
  top: 0;
  left: 17px;
  width: 524px;
  height: 737px;
}

/* forward links */

.forward-link-child {
  position:absolute;
  top: 0;
  left: 0;
  /* background-color: var(--color-gainsboro); */
  width: 95px;
  height: 68px;
}
.forward-link-item {
  position:absolute;
  top: 29px;
  left: calc(50% - 16.5px);
  max-height: 100%;
  width: 27px;
  object-fit: cover;
}
.forward-link {
  position:absolute;
  top: 0;
  left: 190px;
  width: 95px;
  height: 68px;
}
.div3 {
  top: 16px;
  left: calc(50% - 7.5px);
  font-size: var(--buttons-size);
  font-family: var(--font-mplus-1p);
  color: var(--color-black);
  text-align: center;
}
.div3,
.div4,
.rd-link1 {
  position:absolute;
}
.rd-link1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 190px;
  width: 95px;
  height: 68px;
}
.div4 {
  top: 16px;
  left: calc(50% - 7.5px);
  font-size: var(--buttons-size);
  font-family: var(--font-mplus-1p);
  color: var(--color-black);
  text-align: left;
}
.nd-link1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  /* background-color: transparent; */
  background-color: var(--color-gainsboro);
  top: 0;
  left: 95px;
  width: 95px;
}
.forward-links1,
.nd-link1,
.st-link1 {
  position:absolute;
  height: 68px;
}
.st-link1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  /* background-color: #b3b1b1; */
  /* background-color: var(--color-gainsboro); */
  background-color: transparent;
  top: 0;
  left: 0;
  width: 95px;
}
.st-link1 :hover,.nd-link1 :hover,.rd-link1 :hover,.arrow-link :hover{
  cursor: pointer;
  /* background-color: #b3b1b1; */
  background-color: var(--color-gainsboro);
}

.forward-links1 {
  top: 3650px;
  left: 804px;
  width: 380px;
}