@keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  
  .logo-icon,
  .subscribe-child {
    position: absolute;
    object-fit: cover;
  }
  .logo-icon {
    top: 29px;
    left: 0;
    width: 327px;
    height: 116px;
    mix-blend-mode: multiply;
  }
  .subscribe-child {
    top: 0;
    left: calc(50% - 953.5px);
    max-height: 100%;
    width: 1752px;
  }


  .hover-functioning1 {
    cursor: pointer;
    border: 0;
    margin-top: 40px;
    background-color: transparent;
    /* position: absolute; */
    top: 0;
    /* left: 752px; */
    width: 88px;
    height: 51px;
  }
  .hover-functioning2 {
    cursor: pointer;
    border: 0;
    /* margin-top: 40px; */
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 746px;
    width: 88px;
    height: 50px;
  }

  .hover-functioning3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: -90px;
    left: 752px;
    width: 188px;
    height: 50px;
  }
  
  
  .hover-functioning4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 752px;
    width: 188px;
    height: 81px;
  }
  
  .fashion-corner-1-1 {
    position: absolute;
    top: 25px;
    left: 0;
    /* width: 130px; */
    height: 80px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .nav-bar {
    position: absolute;
    top: 0;
    left: 74px;
    width: 1818px;
    height: 236px;
  }

  .index-page {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke);
    height: 3580px;
    overflow: hidden;
  }
  
  .twitter-icon,
  .facebook-icon,
  .insta-icon {
    position: absolute;
    top: 0;
    left: 213px;
    border-radius: 50%;
    width: 49px;
    height: 46px;
    object-fit: cover;
  }
  .facebook-icon,
  .insta-icon {
    left: 142px;
  }
  .facebook-icon {
    left: 71px;
  }
  .email-icon,
  .social-media {
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
  }
  .email-icon {
    border-radius: 50%;
    width: 49px;
    object-fit: cover;
  }
  .social-media {
    width: 262px;
  }
  .social-media-parent {
    width: 100%;
    position: relative;
    height: 46px;
  }
  .social-media-parent:hover {
    cursor: pointer;
  }

/* nav bar */

  .profile_logo{
    height: 50px;
    margin-left: 900px;
    margin-top: 45px;
  }
  .cart_logo{
    height: 50px;
    margin-left: 800px;
    margin-top: 45px;
  }
  .full_cart{
    cursor: pointer;
    
  }
/* menu button */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
  
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 45px;
  left: 1000px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 34px;
  width: 42px;
  position:absolute;
  top: 45px;
  left: 1000px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

/* hamburger line 1 */
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

/* hamburger line 2 */
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

/* hamburger line 3 */
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  /* box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5); */
  height: 650px;
  width: 100%;
  transform: translate(300%);
  display: flex;
  flex-direction: column;
  margin-right: -40px;
  padding-right: 300px;
  padding-left: 120px;
  margin-left: 700px;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  z-index: 9; /* Ensure a high z-index to keep menu on top */
  position:relative;
  background-color: white;
}


.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 4.8rem;
  font-weight: 500px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
#back-arrow{
transform:rotate(180deg);
margin-right:1000px

}


/*social media buttons  */

.menu-social-button1{
  position: absolute;
  padding-top: 10px;
  left: 100px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button1:hover{
  width: 52px;
  height: 49px;
}

.menu-social-button2{
  position: absolute;
  padding-top: 10px;
  left: 200px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button2:hover{
  width: 52px;
  height: 49px;
}

.menu-social-button3{
  position: absolute;
  padding-top: 10px;
  left: 300px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button3:hover{
  width: 52px;
  height: 49px;
}

/* user profile */
.dropdown {
    position: relative;
    display: block;
    padding-left: 1650px;
    padding-top: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 190px;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .dropdown-content{
    text-align: center;
    display: none;
    padding: 15px;
    text-decoration: none;
    font-size: large;
    font-family: "Mplus 1p Bold";
    font-weight: 800;
    color: #333;
  }
   .profile-links {
    text-align: center;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: large;
    font-family: "Mplus 1p Bold";
    font-weight: 800;
    color: #333;
  }
  .dropdown-content .profile-links:hover {
    background-color: #f9f9f9;
    font-size: 20px;
    cursor: pointer;
  }
  #welcomeMessage{
    font-size: larger;
    text-align: center;
    
  }
  .back_button{
    position: absolute;
    top:160px;
    left:150px;
    cursor: pointer;
    
  }
  /* quantity */
.quantity{
  position: relative;
  left: 365px;
  top: -70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  font-weight: 700;
}

#cartItems{
  position: absolute;
  top: 400px;
  left: 300px;
  font-size: xx-large;

}
#shopping_cart_heading{
  top:250px;
  left:200px;
  font-size: 34px;
  font-family: "Mplus 1p Bold";
  position: absolute;
}

/* empty whole cart button */
#clearCartButton{
  top:280px;
  left:1800px;
  position:absolute;
  height:40px;
  border-radius: 10px;
  cursor: pointer;
}

#clearCartButton:hover{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  background-color: #fbfbfb;
}

/* buy product */
.proceed_to_buy{
  padding: 40px 40px 40px 50px;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  top:-3177px;
  left:1250px;
  width: 340px;
  height: 350px;
}
.proceed_txt,.total_item_no ,.total_price_no{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
.eligible{
  color: #067d62;
}
.choose{
  position: relative;
  top: -15px;
}
.green_tick{
  width: 20px;
}
.total_item_no{
  font-size: x-large;
}
.total_price_no{
  font-size: x-large;
  color: #df8e14;
  position: relative;
  left: 235px;
  top: -54px;
}
.div_pack_gift{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  position: relative;
  top: -60px;
  font-size: large;
}


#buyFromCartButton{
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 2px solid #df8e14;
  background-color: #e5a950;
  cursor: pointer;
  position: relative;
  left: 50px;
  /* top: -100px; */
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition:transform 0.5s ease-in-out ;
}
#buyFromCartButton:hover{
  background-color: #df8e14;
  
}


/* for each product item */
.cart-item{
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  border: 2px solid  black;
  border-radius: 10px;
  cursor: pointer;
}
.cart-item:hover{
  background-color: #efefef;
}

/* item image */
.item-image{
  width:180px;
  height: 250px;
  border-radius: 10px;
  margin: 7px 7px 0px 7px;
  border: 2px solid black;
}

/* item details */
.cart-item-details{
  padding-left: 50px;
  padding-top: 40px;
  padding-right: 10px;
  float: right;
  font-size:25px;
}
strong{
font-family: "Mplus 1p Bold";
}

.stock{
  color: green;
  font-size: medium;
  /* padding-left: 350px; */
  font-weight: bolder;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.incl_all_tx{
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#incls_tx{
  position: relative;
  padding-left: 350px;
  top: -120px;
}
.cart_price{
  /* padding-top: -200px; */
  padding-left: 350px;
  top: -120px;
  color: #df8e14;
  position: relative;
  font-weight: bolder;
}
/* delete item */
.clearItemButton{
  position: relative;
  top: -20px;
  background: transparent;
  border: 0;
  font-weight: bolder;
  font-size: large;
  color: rgb(141, 49, 42);
  left: 365px;

  
}
.clearItemButton:hover
{
  text-decoration: underline rgb(141, 49, 42);
  cursor: pointer;
  font-weight: 750;
}