@keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  
  .logo-icon,
  .subscribe-child {
    position: absolute;
    object-fit: cover;
  }
  .logo-icon {
    top: 29px;
    left: 0;
    width: 327px;
    height: 116px;
    mix-blend-mode: multiply;
  }
  .subscribe-child {
    top: 0;
    left: calc(50% - 953.5px);
    max-height: 100%;
    width: 1752px;
  }


  .hover-functioning1 {
    cursor: pointer;
    border: 0;
    margin-top: 40px;
    background-color: transparent;
    /* position: absolute; */
    top: 0;
    /* left: 752px; */
    width: 88px;
    height: 51px;
  }
  .hover-functioning2 {
    cursor: pointer;
    border: 0;
    /* margin-top: 40px; */
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 746px;
    width: 88px;
    height: 50px;
  }

  .hover-functioning3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: -90px;
    left: 752px;
    width: 188px;
    height: 50px;
  }
  
  
  .hover-functioning4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 752px;
    width: 188px;
    height: 81px;
  }
  
  .fashion-corner-1-1 {
    position: absolute;
    top: 25px;
    left: 0;
    /* width: 130px; */
    height: 80px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .nav-bar {
    position: absolute;
    top: 0;
    left: 74px;
    width: 1818px;
    height: 236px;
  }

  .index-page {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke);
    height: 3580px;
    overflow: hidden;
  }
  
  .twitter-icon,
  .facebook-icon,
  .insta-icon {
    position: absolute;
    top: 0;
    left: 213px;
    border-radius: 50%;
    width: 49px;
    height: 46px;
    object-fit: cover;
  }
  .facebook-icon,
  .insta-icon {
    left: 142px;
  }
  .facebook-icon {
    left: 71px;
  }
  .email-icon,
  .social-media {
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
  }
  .email-icon {
    border-radius: 50%;
    width: 49px;
    object-fit: cover;
  }
  .social-media {
    width: 262px;
  }
  .social-media-parent {
    width: 100%;
    position: relative;
    height: 46px;
  }
  .social-media-parent:hover {
    cursor: pointer;
  }

/* nav bar */

  .profile_logo{
    height: 50px;
    margin-left: 900px;
    margin-top: 45px;
  }
  .cart_logo{
    height: 50px;
    margin-left: 800px;
    margin-top: 45px;
  }
  .full_cart{
    cursor: pointer;
    
  }
/* menu button */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
  
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 45px;
  left: 1000px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 34px;
  width: 42px;
  position:absolute;
  top: 45px;
  left: 1000px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

/* hamburger line 1 */
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

/* hamburger line 2 */
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

/* hamburger line 3 */
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  /* box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5); */
  height: 650px;
  width: 100%;
  transform: translate(300%);
  display: flex;
  flex-direction: column;
  margin-right: -40px;
  padding-right: 300px;
  padding-left: 120px;
  margin-left: 700px;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  z-index: 9; /* Ensure a high z-index to keep menu on top */
  position:relative;
  background-color: white;
}


.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 4.8rem;
  font-weight: 500px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
#back-arrow{
transform:rotate(180deg);
margin-right:1000px

}


/*social media buttons  */

.menu-social-button1{
  position: absolute;
  padding-top: 10px;
  left: 100px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button1:hover{
  width: 52px;
  height: 49px;
}

.menu-social-button2{
  position: absolute;
  padding-top: 10px;
  left: 200px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button2:hover{
  width: 52px;
  height: 49px;
}

.menu-social-button3{
  position: absolute;
  padding-top: 10px;
  left: 300px;
  border-radius: 50%;
  width: 49px;
  height: 46px;
  object-fit: cover;
}
.menu-social-button3:hover{
  width: 52px;
  height: 49px;
}

/* user profile */
.dropdown {
    position: relative;
    display: block;
    padding-left: 1650px;
    padding-top: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 190px;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .dropdown-content{
    text-align: center;
    display: none;
    padding: 15px;
    text-decoration: none;
    font-size: large;
    font-family: "Mplus 1p Bold";
    font-weight: 800;
    color: #333;
  }
   .profile-links {
    text-align: center;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: large;
    font-family: "Mplus 1p Bold";
    font-weight: 800;
    color: #333;
  }
  .dropdown-content .profile-links:hover {
    background-color: #f9f9f9;
    font-size: 20px;
    cursor: pointer;
  }
  #welcomeMessage{
    font-size: larger;
    text-align: center;
    
  }

/* product details */

.back_button{
  position: absolute;
  top:170px;
  left:200px;
  cursor: pointer;
  
}


.products_details {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    
}

.products_details .product_heading {
    position: absolute;
    top: 310px;
    left: 1014px;
    color: #070707;
    font-size: 50px;
    /* width: 800px; */
    font-family: "Mplus 1p Bold";
}


/* image */
.product_image{
  position:absolute;
  top: 300px;
  left: 314px;
  width: 524px;
  height: 737px;
  border-radius: 10px;

}

/* line 1 */

.line_price{
  position: absolute;
  top:520px;
  left: 1014px;
  width: 455px;
}

.line_price2{
  position: absolute;
  top:1120px;
  left: 314px;
  width: 1330px;
}



.product_price1  {
  font-family: "Mplus 1p Bold";
  color: #df8e14;
  position:absolute;
  top: 430px;
  left: 1014px;
  width: 526px;
}

.products_details .product_price  {
  font-family: "Mplus 1p Bold";
  color: #df8e14;
  position:absolute;
  top: 427px;
  left: 1034px;
  width: 526px;
  font-size: xx-large;
}

.product_price2  {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  background-color: #df8e14;
  color: #ffffff;
  position:absolute;
  top: 435px;
  left: 1400px;
  width: 100px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.product_price3  {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  /* background-color: #df8e14; */
  color: #202020;
  position:absolute;
  top: 430px;
  left: 1200px;
  width: 200px;
  text-decoration: line-through;
  /* padding: 5px 5px ; */
}

.product_price4  {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  /* background-color: #df8e14; */
  color: #202020;
  position:absolute;
  top: 460px;
  left: 1020px;
  width: 200px;
  /* padding: 5px 0px 5px 5px; */
}

/* available sizes */
.available_sizes{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position:absolute;
  top: 580px;
  left: 1026px;
  width: 526px;
  font-weight: bold;

}

/* size chart */
.product_size_chart{
  position:absolute;
  top: 630px;
  left: 1010px;
  width: 526px;
  mix-blend-mode: multiply;
}

/* Add to cart button */
.add_cart{
  position: absolute;
  left: 1020px;
  top: 920px;
  min-height:50px ;
  min-width: 580px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  /* background-color: ; */
  
}
.add_cart:hover{
  background-color: #e4690e;
  /* background-color: #218838;  */
  /* background-color: #0056b3;  */ 
}

.add_cart_text{
  font-family: "Mplus 1p Bold";
  font-size: 23px;
  font-weight: bolder;
}

/* full description  */
.full_product_description{
  position: absolute;
  top: 400px;
  left: 330px;
  width: 1400px;
}

/* product description heading */
.product_description_heading {
    position: absolute;
    top: 780px;
    /* left: 904px; */
    color: #070707;
    font-size: 35px;
    /* width: 800px; */
    font-family: "Mplus 1p Bold";
    text-decoration: underline;
}

/* description heading */
.products_details .product_description .description_heading {
    font-family: "Mplus 1p Bold";
    font-size: x-large;
    color: #343232;
    position:absolute;
    top: 860px;
    /* left: 904px; */
    /* width: 826px; */
}


/* description para */
.description_para{
  font-family: "Mplus 1p Bold";
  font-size: x-large;
  color: #343232;
  position:absolute;
  top: 910px;
  /* left: 904px; */
  /* width: 926px; */
}

/* description list */
.description_list{
    font-family: "Mplus 1p Bold";
    font-size: x-large;
    color: #343232;
    position:absolute;
    top: 1050px;
    /* left: 904px; */
    /* width: 826px; */
}
ul{
  list-style-type:square;
}
/*description list item  */
.description_item{
  padding-bottom: 5px;

}

/* description footer */
.product_description_footer1 , .product_description_footer2{
  font-size: large;
  font-family: "Mplus 1p Bold";
  position: absolute;
  width: 500px;
  top: 1300px;
  /* left: 904px; */
}
.product_description_footer1{
  font-weight:bolder;
}
.product_description_footer2{
  font-size:16px;
  top: 2px;
  left: 184px;
  
}

/* quantity input */
.quantity_body {
  font-family: Arial, sans-serif;
  display: flex;
  position: absolute;
  top:840px;
  left:1025px;
  justify-content: center;
  align-items: center;
  max-height: 0;
  margin: 0;
  
}

.quantity_heading{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position:absolute;
  top: 760px;
  left: 1031px;
  width: 526px;
  font-weight: bold;
}

.quantity {
  display: flex;
  border: 2px solid #b3b1b1;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity button {

  /* background-color: #434343; */
  /* background-color: #ededed; */
  transition: background-color 0.3s;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 60px;
  height: 50px;
  text-align: center;
  transition: background-color 0.2s;
}

.quantity button:hover {
  background-color: #e4690e;
}

.input-box {
  width: 40px;
  text-align: center;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* measure */
.measure{
  top: 1830px;
  left: 550px;
  position:absolute;
}
.measure_img{
  width: 1000px;
  mix-blend-mode: multiply;
}



/* trust */
.image-6-icon1 {
  position:absolute;
  top: 0;
  left: 124px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.fashioncornertelegmailcom1 {
  position:absolute;
  top: 134px;
  left: 0;
  width: 300px;
}
.image-5-icon1,
.mail1 {
  position:absolute;
  top: 0;
  left: 1236px;
  width: 356px;
  height: 170px;
}
.image-5-icon1 {
  left: 55px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.return2 {
  position:absolute;
  top: 0;
  left: 700px;
  width: 228px;
  height: 170px;
}
.free-fast1 {
  position:absolute;
  top: 125px;
  left: 0;
}
.image-4-icon1 {
  position:absolute;
  top: 0;
  left: 58px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.truck1,
.trust1 {
  position:absolute;
  top: 9px;
  left: 80px;
  width: 264px;
  height: 161px;
}
.line_price3{
  position: absolute;
  top:3300px;
  left: 130px;
  width: 1650px;
}
.trust1 {
  top:3400px;
  left: 200px;
  width: 1592px;
  height: 170px;
  text-align: left;
  font-size: var(--buttons-size);
  color: var(--color-black);
  font-family: var(--font-mplus-1p-bold);
}